@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #7700ff;

    --card: #ffffff;
    --card-foreground: #7700ff;

    --popover: #ffffff;
    --popover-foreground: #7700ff;

    --primary: #7700ff;
    --primary-content: #ffffff;

    --secondary: #ddccff;
    --secondary-content: #7700ff;

    --muted: #ffffff;
    --muted-foreground: #7700ff;

    --accent: #7700ff;
    --accent-content: #ffffff;

    --destructive: #ff8863;
    --destructive-foreground: #ffffff;

    --border: #ffffff;
    --input: #ffffff;
    --ring: #7700ff;

    --radius: 0.5rem;
  }

  .dark {
    --background: #000000;
    --foreground: #7700ff;

    --card: #000000;
    --card-foreground: #7700ff;

    --popover: #000000;
    --popover-foreground: #7700ff;

    --primary: #7700ff;
    --primary-content: #000000;

    --secondary: #443366;
    --secondary-content: #7700ff;

    --muted: #000000;
    --muted-foreground: #7700ff;

    --accent: #7700ff;
    --accent-content: #000000;

    --destructive: #ff8863;
    --destructive-foreground: #000000;

    --border: #000000;
    --input: #000000;
    --ring: #7700ff;
  }
}

:root,
[data-theme] {
  background: oklch(var(--b2));
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}
